/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400&display=swap');
/* Nav and Header */

.container-fluid{
	max-width: 1280px;
}

.m-bottom0{
	margin-bottom: 0px;
}
.logo{height: 80px;}

.site-home-header .inner{
	max-width: 1280px;
}

.site-nav-main{
	background: #006cb3;

}
.site-header-background{
	background-image: linear-gradient(#006cb3, #2B99E3);
}

.home-template .site-nav-main{
	z-index: 9999;
}
@media only screen and (max-width: 445px) {
 .logo{height: 60px;}
}

.nav-text{
	font-family: "Montserrat", san-serif;
	font-size: 1.3em;
	color:#006cb3 ;
}
.nav-text a{
	font-size: 1.1em;
}
.navbar{
	
	border-width: 80%;
	margin-top: 27px;
}
.navbar .btn{
	margin-left: 5px;
}
.nav-link{
	color: #fff;
	font-family: "Montserrat", san-serif;
	font-size: 1.5em;
}
.nav-link:hover{
	color: #E5E5E5;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	    color:#006cb3 ;
    background-color: #fff;
}
.dropdown-toggle::after{
	margin-left: 0;
}

.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  
  
}
.scrolled-tb{
	background: #006cb3 !important;
	
}

.scrolled-tb .nav-text{
	color: #fff;
	
}

.fixed-top.scrolled .nav-link{
	color: #006cb3;
}

.fixed-top.scrolled .nav-link:hover{
	color: #E5E5E5;
}

.fixed-top.scrolled .form-inline button {
  background-color: #f08e1f !important;
  transition: background-color 200ms linear;
  
}
.fixed-top.scrolled .form-inline button:hover{
	background-color: #D67F1C !important;
	color: #fff;
}

.navbar-toggler {
    border-color: #006cb3;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.fixed-top.scrolled  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 142, 31, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.services{
	right: 0 !important;
	left: auto;
}
.dropdown-item{
	padding: .25rem .25rem;
}
.submenu-h{
	font-family: "Montserrat", san-serif;
	color: #006cb3;
	padding: 0;
	margin-bottom: 0;
	font-weight: 800;
	font-size: 1.4em;
	width: 349px;
}

@media only screen and (min-width: 993px) {

.services{
	    width: 700px;
}
}

.submenu{
	font-size: 12px; 
	color: grey;
	font-family: "Montserrat", san-serif;
}

@media only screen and (max-width: 992px) {

.navbar-collapse{
	background: #fff;
	text-align: center
}

.navbar-collapse .nav-link{
	color: #006cb3;
}


.navbar-collapse .nav-link:hover{
	color: #E5E5E5;
}

   
    
.navbar-collapse .form-inline button {
  background-color: #f08e1f !important;
  transition: background-color 200ms linear;
   margin-left: auto;
    margin-right: auto;
  
}
.navbar-collapse .form-inline button:hover{
	background-color: #D67F1C !important;
	color: #fff;
}

.services{
	    width: inherit ;
}

}

/* Buttons */

.btn-outline-success{
	border: 1px solid #fff;
	font-family: "Montserrat", san-serif;
	color: #fff;
	font-size: 1.5em;
}

.btn-outline-success:hover{
	background-color: #fff;
	color: #006cb3;
	border: 1px solid #fff;
}

.btn-primary{
	font-family: "Montserrat", san-serif;
	
	font-size: 1.6em;
	background-color: #f08e1f;
	color: #fff;
	border: 1px solid #f08e1f;
	padding: 12px 40px;
}

.btn-primary:hover{
	
	background-color: #E67E00;
	color: #fff;
	border: 1px solid #E67E00;
	
}

.btn-secondary{
	font-family: "Montserrat", san-serif;
	
	font-size: 1em;
	background-color: transparent;
	color: #006cb3;
	border: 1px solid #006cb3;
	padding: 8px 30px;
}

.btn-secondary:hover{
	background-color: #006cb3;
	color: #fff;
	border: 1px solid #006cb3;
}
/* Header Tags*/

h1{
	font-family: "Montserrat", san-serif;
	font-size: 4em;
	
font-style: normal;
font-weight: 600;
letter-spacing: normal;
line-height: 70px;
text-transform: none;
color: #FFFFFF;
}


h2{
	font-family: "Montserrat", san-serif;
	font-size: 2em;
	line-height: 40px;
	
}
h3{
	font-family: "Montserrat", san-serif;
}
h4{
	font-family: "Montserrat", san-serif;
	font-size: 1.3em;
	}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.6em;
	
}
/* Colors */
.white{
	color: #fff;
}

.blue{
	color: #006cb3;
}

.orange{
	color: #f08e1f;
}

.grey{
	color: #405261;
}

/* Footer */


.footer { background-color: #006cb3; padding-top: 80px; color: #636e74; font-weight: 400; font-size: 17px; }
.footer-line { border-color: #fff; }
.footer-widget { padding-bottom: 50px; }
.footer-title { font-size: 24px; font-weight: 600; margin-bottom: 44px; color: #fff; }
.footer-widget ul li a { text-transform: capitalize; font-size: 17px; color: #636e74; display: block; font-weight: 600; }
.footer-widget ul li a:hover { color: #fff; }
.newsletter-form { padding-top: 15px; }
.newsletter-form .form-control { background-color: #1e2e38; border-color: #1e2e38; }
.newsletter-form .form-control:focus { color: #fff; }
.newsletter-form input::-webkit-input-placeholder { color: #fff !important; }
.newsletter-form input:focus::-webkit-input-placeholder { color: #fff !important; }


.tiny-footer { font-size: 14px; padding: 14px 0px; font-weight: 600; background-color: transparent; border-top: 1px solid #fff; color: #fff; line-height: 1; }


.list-unstyled li a{
	color: #fff !important;
}






